* {
  padding: 0;
  margin: 0;
}

main {
  padding: 40px 160px;
}

.group-a {
  margin-bottom: 100px;
}

.group-b {
  margin-bottom: 32px;
}

.group-b > p {
  font-size: 20px;
  color: #edbb99;
}

.group-c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.group-c1 p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.group-c2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.group-c2 span {
  display: block;
  font-size: 12px;
  text-align: right;
}

.title {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #edbb99;
}

td {
  padding: 12px 4px;
  border: 1px solid #eaeded;
}

#overall-total {
  background-color: #eaeded;
}

.data {
  text-align: right;
}
